/target
/.vscode

flamegraph.svg

/dna/*

/configs/*

!/configs/network
/configs/network/*
!/configs/network/default.json

!/configs/trainer
/configs/trainer/*

!/configs/trainer/delay_multiplier
/configs/trainer/delay_multiplier/*
!/configs/trainer/delay_multiplier/default.json

!/configs/trainer/remy
/configs/trainer/remy/*
!/configs/trainer/remy/default.json

!/configs/utility
/configs/utility/*
!/configs/utility/mflft_default.json
!/configs/utility/ptdf_default.json

