/target
/.vscode

flamegraph.svg

/dna/*

/configs/*

!/configs/eval
/configs/eval/*
!/configs/eval/default.json
!/configs/eval/short.json
!/configs/eval/very_short.json

!/configs/network
/configs/network/*

!/configs/network/remy
/configs/network/remy/*
!/configs/network/remy/default.json

!/configs/trainer
/configs/trainer/*

!/configs/trainer/delay_multiplier
/configs/trainer/delay_multiplier/*
!/configs/trainer/delay_multiplier/default.json

!/configs/trainer/remy
/configs/trainer/remy/*
!/configs/trainer/remy/default.json

!/configs/trainer/remyr
/configs/trainer/remyr/*
!/configs/trainer/remyr/default.json

!/configs/utility
/configs/utility/*
!/configs/utility/mflft_default.json
!/configs/utility/ptdf_default.json

